/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes nextIcon {
  from {
    -moz-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@-webkit-keyframes nextIcon {
  from {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes nextIcon {
  from {
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
/* line 19, ../sass/groups_style.scss */
html {
  width: 100%;
  height: 100%;
  font-family: "SimHei";
  font-size: 62.5%;
  overflow: hidden;
}

/* line 27, ../sass/groups_style.scss */
body {
  width: 100%;
  height: 100%;
  font-size: 0;
}

/* line 33, ../sass/groups_style.scss */
.container-fluid {
  width: 100%;
  height: calc(100% - 55px);
  height: -webkit-calc(100% - 55px);
  height: -moz-calc(100% - 55px);
  position: relative;
}
/* line 40, ../sass/groups_style.scss */
.group-hidden {
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 44, ../sass/groups_style.scss */
.group-intr-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  -moz-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 1s ease-in-out 0s;
}

/* line 50, ../sass/groups_style.scss */
.mobile-group {
  background-color: #fff;
  z-index: 7;
}

/* line 54, ../sass/groups_style.scss */
.xunce-group {
  background-color: #fff2e6;
  z-index: 6;
}

/* line 58, ../sass/groups_style.scss */
.weidanmu-group {
  background-color: #fff;
  z-index: 5;
}

/* line 62, ../sass/groups_style.scss */
.norway-group {
  background-color: #fff2e6;
  z-index: 4;
}

/* line 66, ../sass/groups_style.scss */
.meiguo-group {
  background-color: #fff;
  z-index: 3;
}

/* line 70, ../sass/groups_style.scss */
.smartSAN-group {
  background-color: #fff2e6;
  z-index: 2;
}

/* line 74, ../sass/groups_style.scss */
.huawei-group {
  background-color: #fff;
  z-index: 1;
}

/* line 78, ../sass/groups_style.scss */
.group-intr {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
/* line 83, ../sass/groups_style.scss */
.img-wrap img {
  width: 100%;
}
/* line 87, ../sass/groups_style.scss */
.group-intr .img-wrap {
  width: 100%;
}
/* line 90, ../sass/groups_style.scss */
.group-intr h1 {
  font-size: 3rem;
  color: #fa8823;
  line-height: 6rem;
}
/* line 95, ../sass/groups_style.scss */
.group-intr h2 {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  color: #7B6B5F;
}
/* line 100, ../sass/groups_style.scss */
.group-intr p {
  text-indent: 2.8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #7B6B5F;
}

/* line 110, ../sass/groups_style.scss */
.next-icon {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  width: 10%;
  z-index: 10;
  -moz-animation: nextIcon 2s ease-in-out infinite;
  -webkit-animation: nextIcon 2s ease-in-out infinite;
  animation: nextIcon 2s ease-in-out infinite;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
