#navtop {
	/*background-color: #FFFCF9 !important;	*/

	vertical-align: middle;
	margin-bottom: 12px;
}

.row-fluid .span4 {
	text-align: center;
}

#menu {
	margin-top: 100%;
	margin-bottom: 25%; 
}

#logo {
	margin-top: 10%;
	margin-bottom: 10%;
}

#choice {
	font-size: 20px;
}

.span6 {
	text-align: center;
}

#login, #register {
	color: #B6B6B7;
}

#loginarea {
	text-align: center;
	font-size: 18px;
	background-color: #FFFCF9;
	color: #FB9100;
	white-space: nowrap;
}

#loginarea p {
	line-height: 18px;
	padding-top: 14%;
	padding-bottom: 25%;
}

.userinfo {
	width: 20px;
	height: 20px;

	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: 
		url(../img/loginfo.png);
}

#loginarea input {
	padding: 0px 0px 10px 30px;
	outline: none;
	border-color: transparent;
	border-radius: 0;
	box-shadow: 0px 0px 0px #FFFCF9;	
	border-bottom: 1px solid #DAD8D8;
	background-color: #FFFCF9; 
}

