body {
	background-color: #FFFCF9;
}

#navtop {
	background-color: #FFFCF9;	
	vertical-align: middle;
    z-index:20;
    position: relative;
}

#top_pos {
/*	padding-top: 10%;*/
}

.row-fluid .span4 {
	text-align: center;
}

#menu {
	margin-top: 100%;
	margin-bottom: 25%; 
}

#logo {
	margin-top: 10%;
	margin-bottom: 10%;
}