#wrapper {
	margin-top: 13%;
}

.process_box {
	display: inline-block;
	background-color: #FDE7D2;
	width:32%;
}

#box_apply, #box_interview {
	margin-left: 12%;
}

#box_exam, #box_all-night {
	margin-left: 10%;
}
