body {
	background-color: #FFFCF9;
}

#navtop {
	background-color: #FFFCF9;	
	vertical-align: middle;
	padding-bottom: 6px;
}

.row-fluid .span4 {
	text-align: center;
}

#menu {
	margin-top: 100%;
	margin-bottom: 25%; 
}

#logo {
	margin-top: 10%;
	margin-bottom: 10%;
}

#choice {
	background-color: #FFFCF9;
	font-size: 20px;
}

.span6 {
	text-align: center;
}

#login_bottom {
	border-bottom: 1px solid #FB9100;
}

#login, #register {
	color: #B6B6B7;
}

#loginarea, #registerarea {
	text-align: center;
	font-size: 18px;
	background-color: #FFFCF9;
	color: #FB9100;
	white-space: nowrap;
}

#loginarea p {
	line-height: 18px;
	padding-top: 16%;
	padding-bottom: 20%;
}

#registerarea p {
	line-height: 18px;
	padding-top: 16%;
	padding-bottom: 10%;
}

.userinfo, .userpwd, .userregi, .userveri, .setpwd {
	width: 20px;
	height: 20px;

	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
}

.userinfo, .userregi {
	background-image: 
		url(../img/loginfo.png);
}

.userpwd, .setpwd {
	background-image: 
		url(../img/pwd.png);
}

.userveri {
	background-image: 
		url(../img/code_icon.png);	
}

#vericode_line {
	border-bottom: 1px solid #DAD8D8;
	margin-bottom: 10px !important;	
}

#input_vericode {
	width: 60% !important;
	margin-bottom: 0px !important;
}

#getcode {
	position: relative;
	top: -4px;
	left: -8px;
	border: 1px solid #DAD8D8;
	background-color: #FFFCF9;
	color: #DAD8D8;
	height: 32px;
}

#loginarea input, #registerarea input {
	padding: 0px 0px 10px 30px;
	width: 100%;
	outline: none;
	border-color: transparent;
	border-radius: 0;
	box-shadow: 0px 0px 0px #FFFCF9;	
	border-bottom: 1px solid #DAD8D8;
	background-color: #FFFCF9; 
}

#login_btn, #confirm_btn {
	width: 100%;
	height: 40px;
	font-size: 18px;
	color: #FB9100;
	background-color: #FFFCF9;
	border: 1px solid #FB9100;
	border-radius: 8px;
}

